body {
    font-family: sans-serif;
    overflow: hidden;    
}

.main {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
}
.input-group-text, .form-control {
    margin: 5px 0;
}
.form__input {
    width: 35%;
}
.flex__center {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main__area {
    width: 590px;
    height: 590px;
    background-color: #fff;
    padding: 0 20px;
}
.background {    
    width: 460px;
    height: 570px;
    background-color: #F8F8F8;
    border-radius: 17px;
    box-shadow: 0px 3px 9px rgba(0,0,0,0.16);
    margin: 20px 15px;
}

.coderstokyo {
    margin-top: -2rem;
    margin-bottom: .7rem;
}

.word {
    text-align: center;
    text-transform: uppercase;
    width: 80%;
    height: 8rem;
    background-color: #D20000;
    border-radius: 7px;
    line-height: 8rem;
    font-size: 5rem;
    color: #fff;    
}
.meaning-container {
    text-align: center;
    padding-top: 5px;
    width: 80%;
    height: 5.2rem;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    box-shadow: 0px 3px 9px rgba(0,0,0,0.16);
    margin: 13px 0;
}

.en-container, .vi-container {
    margin: 0 auto;    
    width: 95%;
    position: relative;
}
.en-container {
    border-bottom: 1.2px solid rgb(204, 204, 204);
}
.vi-container {
    margin-top: 5px;
}

#meaning-en, #meaning-vi, #spelling {
    color: #656565;
    font-size: 19px;
}

.meaning-type {
    position: absolute;
    left: 0;
    top: 5px;
    width: 40px;
    height: 20px;
    color: rgb(119, 119, 119);
    background-color: rgb(235, 235, 235);
    border-radius: 30px;
}

.spelling-container {
    text-align: center;
    line-height: 3rem;
    width: 80%;
    height: 3rem;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    box-shadow: 0px 3px 9px rgba(0,0,0,0.16);
    padding-right: 20px;
}
.icon__speaker {
    float: left;
    padding: 10px;
}